/*************************************
* Brand & other color variables here *
*************************************/

// Brand colors
$white: #fff;
$black: #000;
$red: #EB5757;

// Text colors
$text-white: $white;
$text-black: $black;

$text-link: $black;

// Form elements colors
$placeholder-color: $black;
