/*************************************
* Body, html and other global styles *
*************************************/

// Default typography styles for the site
body {
    width: 100%;
    height: 100vh;
    font-family: $main-family;
    line-height: 1.4;
    background-color: $red;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

a {
    color: inherit;
}

// class for a page content site-wide for the purpose of WYSIWYG editor
.content {
    font-size: 16px;
    line-height: 1.4;
    text-align: left;

    h1, h2, h3, h4, h5, h6 {
        padding: 20px 0px;
        font-weight: 700;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

}

// Prevent scroll
.no-scroll {
    height: 100%;
    overflow: hidden;
}
