/*******************************
* Styles for the header module *
*******************************/

.header {
    display: flex;
    padding: 5px 20px;
    height: 75px;

    &__site-branding {
        flex: 0 0 40%;
    }

    &__logo {
        width: 100%;
        max-width: 150px;
        height: auto;
    }

    &__navigation {
        flex: 0 0 60%;
        // justify-content: flex-end;
    }

    &__menu-button {
        position: relative;
        float: right;
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 0px;
        background-color: transparent;
        outline: none;
    }

    &__menu-toggle-button {
        @include centerXY();
        position: relative;
        display: inline-block;
        padding: 0px;
        width: 35px;
        height: 3px;
        background-color: $black;
        border: 0px;
        border-radius: 2px;
        z-index: 10;
        outline: none;
        transition: 0.2s ease-out;

        &:before,
        &:after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            width: 35px;
            height: 3px;
            background-color: $black;
            border-radius: 2px;
            transition: 0.2s ease-out;
        }

        &:before {
            top: -10px;
        }

        &:after {
            bottom: -10px;
        }

        // Additional class for animation purpose
        &.is-open {
            background-color: transparent;

            &:before {
                top: 0;
                transform: rotate(-45deg);
            }

            &:after {
                bottom: 0;
                transform: rotate(45deg);
            }

        }

    } // &__menu-toggle-button

}

/****************
* Media queries *
****************/

@include desktop() {

    .header {

        &__menu-button {
            display: none;
        }

    }

}
