/************************
* Menu component styles *
************************/

.menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 80px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0;
        transform: translateY(10%) scale(0.8);
    }

    &__menu-item {
        padding: 10px 0px;
        font-size: 18px;
        color: $white;
        opacity: 0;

    }

}

/****************
* Media queries *
****************/

@include tablet() {

    .menu {

        &__menu-item {
            font-size: 22px;
        }

    }

}

@include desktop() {

    .menu {
        flex-flow: row;
        padding-top: 0;

        &__container {
            position: static;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            top: 0;
            padding: 0 25px;
            background-color: inherit;
            opacity: 1;
            transform: translateY(0) scale(1);
        }

        &__menu-item {
            position: relative;
            margin: 0px 8px;
            padding: 5px 10px;
            font-size: 16px;
            color: $black;
            opacity: 1;

            &:after {
                content: "";
                position: absolute;
                display: inline-block;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $black;
                transform: scaleY(0);
                transition: 0.2s ease-out;
            }

            &:hover {

                &:after {
                    transform: scaleY(1);
                }

            }

        }

    }

}
