
.placeholder {
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-left: 16%;
    font-size: 48px;
    font-weight: 900;
    color: $white;

    &__box {
        position: relative;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 180px;
        height: 80px;
        transform: skewX(-20deg);
    }

    &__slash {
        position: absolute;
        top: 50%;
        // @include material-shadow(1, 1, darken($red, 30%));
        left: 0;
        width: 100%;
        // height: 60%;
        // background-color: $white;
        transform: translate(0%, -50%) skewX(20deg);
        opacity: 0;
        z-index: 10;
    }

    &__title,
    &__soon {
        // @include absoluteFullSize();
        @include centerXY();
        overflow: hidden;
    }

    &__title {
        width: 100%;
    }

    &__soon {
        left: 45%;
        width: 103%;
    }

    &__title-text {
        transform: translateX(100%) skewX(20deg);
    }

    &__title-cover {
        @include absoluteFullSize();
        background-color: $red;
        transform: scaleX(0) skewX(40deg);
        transform-origin: right;
    }

    &__soon-text {
        transform: translateX(-100%) skewX(20deg);
    }

    &__soon-cover {
        @include absoluteFullSize();
        background-color: $red;
    }
}
